@import 'tailwindcss';
@config '../../tailwind.config.ts';
@plugin 'tailwindcss-animate';

@layer base {
  :root {
    --color-warning: c;
    --color-beige: 250 246 243;
    --background: 250 246 243;
    --foreground: 6 6 6;
    --card: 0 0% 100%;
    --card-foreground: 6 6 6;
    --popover: 0 0% 100%;
    --popover-foreground: 6 6 6;
    --primary-foreground: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 45 100% 50%;
    --accent-foreground: 0 0% 4%;
    --destructive: 28 87% 62%;
    --destructive-foreground: 29 60% 16%;
    --sidebar-foreground: 10 10 10;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 211 95% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  :root[data-theme='default'] {
    --color-primary: #0272f2;
    --primary: 211 95% 50%;
    --secondary: 213 92% 95%;
  }
  :root[data-theme='vitagpt'] {
    --color-primary: #2c893a;
    --primary: 129 51% 35%;
    --secondary: 128 92% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
